<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextFirstName</param-name>
    <param-value>Harry</param-value>
  </context-param>
  <context-param>
    <param-name>contextLastName</param-name>
    <param-value>Potter</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>helloServlet</display-name>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>sample.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>greetingServlet</display-name>
    <servlet-name>greetingServlet</servlet-name>
    <servlet-class>sample.servlets.GreetingServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>firstName</param-name>
      <param-value>Shyam</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>middleName</param-name>
      <param-value>Sundar</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>greetingMessage</param-name>
      <param-value>Welcome</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetingServlet</servlet-name>
    <url-pattern>/greeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>storeDataServlet</display-name>
    <servlet-name>storeDataServlet</servlet-name>
    <servlet-class>sample.servlets.StoreDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeDataServlet</servlet-name>
    <url-pattern>/storeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadDataServlet</display-name>
    <servlet-name>loadDataServlet</servlet-name>
    <servlet-class>sample.servlets.LoadDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadDataServlet</servlet-name>
    <url-pattern>/loadData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userValidationServlet</display-name>
    <servlet-name>userValidationServlet</servlet-name>
    <servlet-class>sample.servlets.UserValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userValidationServlet</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userDataServlet</display-name>
    <servlet-name>userDataServlet</servlet-name>
    <servlet-class>sample.servlets.UserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDataServlet</servlet-name>
    <url-pattern>/userData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pesonalDataServlet</display-name>
    <servlet-name>pesonalDataServlet</servlet-name>
    <servlet-class>sample.servlets.PesonalDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pesonalDataServlet</servlet-name>
    <url-pattern>/personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>professionalDataServlet</display-name>
    <servlet-name>professionalDataServlet</servlet-name>
    <servlet-class>sample.servlets.ProfessionalDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>professionalDataServlet</servlet-name>
    <url-pattern>/professional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayServlet</display-name>
    <servlet-name>displayServlet</servlet-name>
    <servlet-class>sample.servlets.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayServlet</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>helloFilter</display-name>
    <filter-name>helloFilter</filter-name>
    <filter-class>sample.filters.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>helloFilter</filter-name>
    <url-pattern>/hello</url-pattern>
    <url-pattern>/greeting</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>sample.listeners.ApplicationListener</listener-class>
  </listener>
  <listener>
    <listener-class>sample.listeners.ServletListener</listener-class>
  </listener>
</web-app>